<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Books:</h2>
    </div>
  </div>

  <a class="nav-link" routerLink="details">Books</a>
  <a class="nav-link" routerLink="/articles">Articles</a>

  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let book of books; let i = index">
      <a class="nav-link" [routerLink]="['/details', book.id]">
        <div class="book-list-item">
          <img [src]=book.coverPath [alt]=book.title>
          <div class="caption">
            <h3 class="book-title">{{book.title}}</h3>
            <h3 class="book-author">{{book.author.name}}</h3>
          </div>
        </div>
      </a>
    </div>
  </div>
