<nav class="navbar navbar-dark bg-dark footer">
  <div class="navbar-expand navbar-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="footer-link-list">
            <li>
              <a routerLink="/contact-us" routerLinkActive="active"
                >Contact us</a
              >
            </li>
            <li>
              <a routerLink="/about-us" routerLinkActive="active">About us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
