<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="form-wrapper">
        <h1 class="form-title">Contact us</h1>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
          <div formGroupName="personalData" novalidate>
            <div class="form-group">
              <label for="email">Email:</label>
              <input formControlName="email" id="email" class="form-control" />
            </div>
            <div class="form-group">
              <label for="description" for="mobile">Mobile:</label>
              <input
                formControlName="mobile"
                id="mobile"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="country">Country:</label>
              <select
                formControlName="country"
                id="country"
                class="form-control"
              >
                <option *ngFor="let country of countries" [value]="country">
                  {{ country }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="requestType">Request type:</label>
            <select
              formControlName="requestType"
              id="requestType"
              class="form-control"
            >
              <option
                *ngFor="let requestType of requestTypes"
                [value]="requestType"
              >
                {{ requestType }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="description" for="description">Message:</label>
            <textarea
              formControlName="text"
              id="description"
              class="form-control"
              rows="5"
            ></textarea>
          </div>
          <div class="form-group">
            <button
              type="submit"
              [disabled]="contactForm.pristine"
              class="button primary"
            >
              Send message
            </button>
            <!-- <button
              type="reset"
              (click)="revert()"
              [disabled]="contactForm.pristine"
              class="button"
            >
              Revert
            </button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
