<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>From</th>
            <th>About</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of messages" class="email-row"
            [ngStyle]="{ 'font-weight': item.isRead ? '' : 'bold' }"
            [routerLink]="['details', item.id]"
          >
            <td><input type="checkbox" [checked]="!item.isRead" /></td>
            <td>{{ item.sender }}</td>
            <td>{{ item.subject }}</td>
            <td>{{ item.sentOn | date: "medium" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
