.button {
  padding: 15px;
  border: 0px solid white;
  font-family: $main-font;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;

  &:disabled,
  &[disabled] {
    opacity: 0.5;
  }

  &:disabled,
  &[disabled]:hover {
    background-color: red;
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    background-color: $main-color-darker;
    transition: 0.2s;
    text-decoration: none;
  }

  &.primary {
    background-color: $main-color;
    color: $white;
    width: 100%;
    max-width: 320px;
  }

  &.primary:hover {
    transition: 0.2s;
    background-color: $main-color-darker;
  }

  &.action-btn {
    max-width: 280px;
    background-color: $lighter-background;
    color: black;
  }
}
