$main-font: "Roboto", sans-serif;
$secondary-font: 'Roboto Slab', serif;

$main-color: #FA7268;
$main-color-darker: #df1507;
$main-highlight: orange;
$light-background: #FFBC70;
$lighter-background: #FFC483;

$white: #fff;
